<%- include("./partials/header.ejs",{
    title: "TheMoviesflix.com | Moviesflix | TheMoviesflix | Movieflix | TheMovieflix | Moviesflix Pro | 480p Movies, 720p Movies, 1080p Movies, 300mb Movies",
    description: "TheMoviesflix, Moviesflix, Movieflix, TheMovieflix, Moviesflix Pro, Dual Audio Movies In 480p Movies, 720p Movies, 1080p Movies, 300mb Movies, Hindi Dubbed Series Download at Moviesflix com, TheMoviesflix com, Moviesflix in",
    keywords: "moviesflix,moviesflix com,480p movies,720p movies,300mb movies,moviesflix pro,moviesflix org,themoviesflix,themoviesflix com,1080p movies,movieflix,themovieflix,moviesflix,moviesflix .in, moviesflix xom, moviesflix hub, 8x moviesflix, moviesflix hindi, moviesflix org, moviesflix mod, moviesflix 2024, moviesflix movies, moviesflix 2, moviesflix in pro, moviesflix page 2, 10xflix movies, moviesverse moviesflix, moviesflix bollywood movies download, moviesflix de, moviesflix 4k, moviesflix bollywood 2023, moviesflix bollyflix, moviesflix com bollywood, moviesflix hollywood movies, moviesflix punjabi, moviesflix punjabi movie, moviesflix hindi movie, moviesflix bollywood site, moviesflix com hollywood, moviesflix mex, moviesflix bollywood 2024, moviesflix download movie, moviesflix gadar 2, 11 moviesflix, moviesflix, moviesflix 360 480, moviesflix 4 wap, moviesflix animal, moviesflix free movies download, moviesflix jawan, moviesflix ki duniya, moviesflix south movies, moviesflix south, moviesflix 300 movie, moviesflix 360 bollywood, 7 moviesflix in hindi, moviesflix animal movie,download, moviesflix eu, moviesflix farzi, moviesflix in bollywood, moviesflix in net, moviesflix mobi, moviesflix pro download, moviesflix run, moviesflix salaar, moviesflix 2023 download, moviesflix apk download, moviesflix casino, moviesflix gr, moviesflix gujarati, moviesflix hollywood hindi, moviesflix hollywood movies download, moviesflix io, moviesflix in download, moviesflix kannada, moviesflix one, moviesflix stree 2, moviesflix south hindi, moviesflix uno, moviesflix website, moviesflix zone, moviesflix flix, moviesflix netflix web series, moviesflix rip, moviesflix hollywood hindi dubbed, moviesflix uri pro, moviesflix 12th fail, moviesflix alternative, moviesflix download apk, moviesflix harry potter, moviesflix life, moviesflix leo, moviesflix money heist season 1, moviesflix nl, moviesflixer quest, moviesflix site, moviesflix taaza khabar, moviesflix xyz bollywood, 7flix movies, moviesflix anime hindi, moviesflix guru, moviesflix horror movies,moviesflix mod apk, moviesflix scam 1992, moviesflix tv series, moviesflix 300 verse, moviesflix com 2024, moviesflix english, moviesflix john wick, moviesflix jailer, moviesflix new domain, moviesflix world, moviesflix 7 pro"
}) %>


<div id="movie_card_container">

<!-- Second section for the rest -->
    <% movies.forEach(movie => { %>
      <div>
        <%- include('./partials/movie_card.ejs', { movie }) %>
      </div>
    <% }) %>

</div>

<%- include('./partials/pagination.ejs', {movies,page}) %> 
<%- include("./partials/footer.ejs") %>
